.title {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: coral;
    text-align: center;
}

.text {
    font-family: monospace;
    color: chocolate;
    text-align: center;
}

.button {
    text-align: center;
}

.button__form {
    color: darkkhaki;
    background-color: darkslategray;
}